.navbar, .navbar .navbar-row {
    @include property-by-navbar-height(height);
}

.navbar {
    position: relative;
    width: 100%;
    @if $gridi-components-navbar-background {
        background: $gridi-components-navbar-background;
    }
    @if is-map($gridi-components-navbar-background-for-screens) {
        @each $screen-prefix, $sizes in get-screens-map() {
            @if map-has-key($gridi-components-navbar-background-for-screens, $screen-prefix) {
                @media(min-width: get-screen-size($screen-prefix, min)) {
                    background: map-get($gridi-components-navbar-background-for-screens, $screen-prefix);
                }
            }
        }
    }
}

@include old-browsers-style($gridi-components-navbar-support-old-browsers) {
    .navbar .navbar-column {
        display: table-cell;
        float: none;
        @include property-by-navbar-height(height);
        vertical-align: $gridi-components-navbar-support-old-browser-column-vertical-align;

        &.navbar-column-left {
            float: left;
        }

        &.navbar-column-right {
            float: right;
        }
    }
}