$gridi-components-navbar-height: 60px !default;
//Defined heights for each screens.
$gridi-components-navbar-height-for-screens: (
    s5: 95px,
) !default;

$gridi-components-navbar-background: $document-background-color !default;
//Defined background for each screens.
$gridi-components-navbar-background-for-screens: () !default;
/*
$gridi-components-navbar-background-for-screens: (
    s1: $primary-color,
    ...
) !default;
*/

$gridi-components-navbar-mobile-wrapper-class: '.navbar-mobile-wrapper' !default;
$gridi-components-navbar-mobile-limit-screen-size-prefix: s5 !default;

$gridi-components-navbar-support-old-browsers: $support-old-browsers !default;
$gridi-components-navbar-support-old-browser-column-vertical-align: middle !default;