$gridi-component-navbar-height: 60px !default;
//Defined heights for each screens.
$gridi-component-navbar-height-for-screens: (
    s5: 95px,
) !default;

$gridi-component-navbar-background: $document-background-color !default;
//Defined background for each screens.
/*
$gridi-component-navbar-background-for-screens: (
    s1: $primary-color,
    ...
) !default;
*/

$gridi-component-navbar-columns-gutter: $elements-gutter !default;
$gridi-component-navbar-columns-gutter-for-screens: $elements-gutter-for-screens !default;
//Defined padding between columns for each screens.
/*
$gridi-component-navbar-columns-gutter-for-screens: (
    s1: 40px,
    ...
) !default;
*/

$gridi-component-navbar-mobile-wrapper-class: '.navbar-mobile-wrapper';
$gridi-component-navbar-mobile-limit-screen-size-prefix: s5;